<% include shared/header %>


  <body>
   

    <div class="jumbotron">
      <div class="jumbotronContainer">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Welcome to <%= message %></p>
      
        <hr class="my-4">
        <p>Here you will be able to view, add, edit and delete food items.</p>
      </div>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
        </p>
    </div>

  </body>
</html>

<% include shared/footer %>