body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid lightgrey;
}
/* Added a background image to the jumbotron */
.jumbotron {
  background-image: url('../images/dairy-l.jpg');
  background-size: cover;
  color: white;
}
.jumbotronContainer {
  border: none;
  border-radius: 10px;
  background: rgba(1, 91, 220, 0.9);
}