<% include ../shared/header.ejs %>

<h1>Grocery List</h1>

<form method="post">
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="colour">Colour: *</label>
            <input name="colour" id="colour" required value="<%= grocery.colour %>" />
        </fieldset>
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="category">Category: *</label>
            <input name="category" id="category" required value="<%= grocery.category %>" />
        </fieldset>
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="price">Price: *</label>
            <input name="price" id="price" required value="<%= grocery.price %>" />
        </fieldset>
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="calories">Calories: *</label>
            <input name="calories" id="calories" required value="<%= grocery.calories %>" />
        </fieldset>
        <button class="offset-2 btn btn-primary">Save</button>
    </form>
    
    <% include ../shared/footer.ejs %>
    